#post_show
  %h1= @post.title
  %p.username
    Share by
    = @post.user.name
    about
    = time_ago_in_words(@post.created_at)
  .clearfix
    .post_image_description
      .img
        = image_tag @post.image.url(:medium)
      .description= simple_format(@post.description)
    .post_data      
      = link_to "Visit Link", @post.link, target: "_blank", class: "button"
      .data
        #likes
          = render partial: 'likes'
      %p.data
        %i.fa.fa-comments-o
          =pluralize(@post.comments.count, "Comment")
      - if @post.user == current_user
        = link_to 'Edit', edit_post_path(@post), class: "data"
        = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this?"}, class: "data"
    #random_post
      %h3 Random Post
      .post
        .post_image
          = link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)          
        .post_content
          .title
            %h2= link_to @random_post.title, post_path(@random_post)
          .data.clearfix
            %p.username
              Shared by
              = @random_post.user.name
            %p.buttons
              %span
                %i.fa.fa-comments-o
                  = @random_post.comments.count
                %i.fa.fa-heart
                  = @random_post.likes.size

#comments
  %h5.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %span(class="content")= comment.content
      - if comment.user == current_user
        = link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } do
          %span(class="glyphicon glyphicon-remove delete-comment")
  
  = render partial: 'comments/form'