= image_tag @post.image.url(:medium)
%h1= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name

#comments
  %h5.comment_count= pluralize(@post.comments.count, "Comment")
  - @comments.each do |comment|
    .comment
      %p.username= comment.user.name
      %span(class="content")= comment.content
      - if comment.user == current_user
        = link_to post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?" } do
          %span(class="glyphicon glyphicon-remove delete-comment")
  
  = render partial: 'comments/form'

  .vote_count
    = @post.get_likes.size
    

  .votes
    - if current_user.liked? @post
      = link_to "Unlike", unlike_post_path(@post), method: :get, remote: true, class: 'unlike_post'
    - else
      = link_to "Like", like_post_path(@post), method: :get, remote: true, class: 'like_post'

= link_to 'Back', posts_path
|
= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this?"}
